:root {
    --primary-color: rgba(255, 255, 255, 1);
    --font-size-h1: 56px;
    --font-size-h2: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: black;
    color: var(--primary-color);
    font-family: sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 80px 0;
    text-align: center;
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
    color: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    padding: 0px 140px;
    height: 80px;
}

header .logo {
    width: 40px;
    height: 38px;
    margin-right: 15px;

}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: none;
    object-fit: cover;
}