* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: black;
    font-family: Figtree, sans-serif;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: transparent;
    object-fit: cover;
}